[2016-11-07 10:48] yfrindel opened #7 "Screenshot fail when I set up the "TakeScreenshotAfterFail" parameter to True"
Hi elv1s42,

Thank you for this good report.
I don't know why, but when I set up the "TakeScreenshotAfterFail" parameter to True, the tests failed don't appear in the report.
Is it a bug ?

Thank you to help me.

Yannick

[2016-11-07 12:02] elv1s42 commented on #7
Hello.
Right now it does not work with Jenkins, it works only for running tests locally on your machine.

I will investigate this issue.

Thanks for this issue

[2016-11-17 10:54] nagarjunagandra opened #8 "Data not showing in the report"
Hi,

Files are generated when I ran the Nunit console application but when i open the index file and navigating further not showing any data. it is just showing empty values

Please help me on this.

Regards,
Nagarjuna

[2016-11-17 11:02] elv1s42 commented on #8
Hi @nagarjunagandra !

What version of Chpr.Core and Ghpr.NUnit are you using?

Are there any errors in browser console when you are opening report?

Are there any exception .txt files the report folder?

Did you follow [these](https://github.com/GHPReporter/Ghpr.Core#view-report-locally) instructions to view report?

[2016-11-17 13:58] nagarjunagandra commented on #8
Hi,

I am using 0.2.5.1 version for both Ghpr.core and Ghpr.Nunit.

I could not find any errors in browser console and exceptions in report folder.

[2016-11-17 14:03] elv1s42 commented on #8
Ok, can you attach this report here? Or maybe create simple demo tests to reproduce this issue.
Is it possible that tests fail inside SetUp?

[2016-11-17 14:03] nagarjunagandra commented on #8
Hi ,

 I am able to see the report only in Firefox but not on other browsers.

Please help me to how to enable in other browsers as well.

[2016-11-17 14:18] elv1s42 commented on #8
The reason why it doesn work is that you need to enable access to local files from javascript, which is blocked by default in all browsers. you will see some errors inside browser console. You can serach for browser options to enable access to local files (like `security.fileuri.strict_origin_policy` parameter for Firefox).

Another way is to create local server (like Apache Tomcat) and put this r

[2017-01-10 10:13] #8 closed, assigned to elv1s42

[2017-01-17 16:06] elv1s42 commented on #7
Hi @yfrindel !
Please let me know if this issue has gone with latest Ghpr.Core, Ghpr.NUnit (both v0.4.3) and NUnit.Console (v3.6). Please note, that now there is no need to edit `nunit.console.exe.config` file, because all settings are passed via .json settings file.
If you are going to take screenshots inside yout tests, then make sure that you have the same `Ghpr.NUnit.Settings.json` file inside

[2017-02-09 08:49] elv1s42 commented on #7
Issue fixed in v0.4.3

[2017-02-09 08:49] #7 closed, assigned to elv1s42

[2017-02-09 09:07] yfrindel commented on #7
Hi,
not tested yet...I'm busy with other things, but I will take a look.
Yannick

    Le Mardi 17 janvier 2017 17h07, Evgeniy Kosjakov <notifications@github.com> a écrit :

 Hi @yfrindel !
Please let me know if this issue has gone with latest Ghpr.Core, Ghpr.NUnit (both v0.4.3) and NUnit.Console (v3.6). Please note, that now there is no need to edit nunit.console.exe.config file, because all setti

[2017-02-21 13:52] mcopjan opened #16 "Blank report is generated"
I have installed Nunit Console Runner 3.6.0 and set up with libraries as described:
Then run my TestProject_Ghpr.dll containing a test.

Console output window:

c:\Program Files (x86)\NUnit.org\nunit-console>nunit3-console.exe "c:\Users\MartinCo.MGSOPS\Documents\Visual Studio 2015\Projects\TestProject_Ghpr\TestProject_Ghpr\bin\Debug\TestProject_Ghpr.dll"
NUnit Console Runner 3.6.0
Copyright (C) 20

[2017-02-21 14:03] elv1s42 commented on #16
Hi @mcopjan !
Thank you for this issue.
Sorry, but I don't see the attached report. Please load it again, I beleive it was not attached.

By the way, are you following this short (https://github.com/GHPReporter/Ghpr.NUnit#view-report-locally) instruction about viewing report locally?

[2017-02-21 15:10] mcopjan commented on #16
Hi @elv1s42 , thanks for your quick response! To be honest I have tried to open the report in Chrome and IE and ignored that note about Firefox (as I did not have it installed don my PC). When I tried to open the report in Firefox with described settings, all seem to be good.
Is there a way how to open this report in Chrome/IE please?

[2017-02-22 17:04] elv1s42 commented on #16
Yeah, I will provide some steps after the next release, it will be tomorrow I think.
The main idea is to let your browser load data from local files, this feature is blocked by default for all browsers.

Another way is to use local server, where you can put the report.

In any case I will let you know when new release is available.

[2017-02-23 08:50] mcopjan commented on #16
Thank you @elv1s42 I do like this reporting tool. Well done!

[2017-02-23 08:50] #16 closed, assigned to elv1s42

[2017-02-28 08:56] elv1s42 commented on #16
Hi @mcopjan !
I have updated ['View report locally' instruction](https://github.com/GHPReporter/Ghpr.Core#view-report-locally). Instructions for Chrome are added.

Also new version is released, v 0.4.5, I would suggest you using this new version.

[2017-02-28 14:32] elv1s42 commented on #16
@mcopjan  please note, that if you will run tests and generate report into the folder where report already exists, you will need to **delete all three index.html files and ghpr.controller.js file before test run** (they will appear again during test run).

[2017-03-21 08:59] nikembala opened #19 "New version of Newtonsoft.Json"
Hello,
There is new version of Newtonsoft.Json
When I put the new version .dll I got the following error:

System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation. ---> System.TypeI
nitializationException: The type initializer for 'Ghpr.NUnit.Extensions.GhprEventListener' threw an exception. ---> Syst
em.IO.FileNotFoundException: Could not load file or

[2017-03-21 10:43] elv1s42 commented on #19
Hi!
Sure, I will prepare an update for Ghpr packages

[2017-03-22 13:56] elv1s42 commented on #19
@nikembala this is done now, the new version is 0.4.6 for both Ghpr.Core and Ghpr.NUnit

[2017-03-22 14:31] nikembala commented on #19
Thank you!

[2017-03-22 14:31] #19 closed, assigned to elv1s42

[2017-04-03 14:28] mcopjan commented on #16
Hi @elv1s42, I tried to open a freshly generated report in Chrome with the parameter you suggested but the report still appears. All good in Firefox. Have you managed to display the report in Chrome?

[2017-04-03 14:33] elv1s42 commented on #16
Hello @mcopjan !
Yes, it worked for me fine.
Can you try to close all instances of Chrome (also you can check that there are no `chrome.exe` processes running) and after that try to run it with `--allow-file-access-from-files` option?

[2017-04-03 14:38] cold-flame commented on #16
@mcopjan, The best way to open a report in Chrome is to deploy it on the site (not as a local file)

[2017-04-04 07:04] mcopjan commented on #16
@elv1s42 I have closed all instances of Chrome and no chrome processes are running, yet the report is opened as blank >_> C:\Program Files (x86)\Google\Chrome\Application>.\chrome.exe --allow-file-access-from-files file:///C:/_GHPReporter_NUnit_Report4/index.html

@cold-flame thanks, it is definitely way to go in future but at the moment people would use GHPR locally, meaning they would have to de

[2017-04-04 09:32] elv1s42 commented on #16
Hi @mcopjan !
I've check it again and it worked for me. I've prepared a short instuction that you can use.

Please try the following steps:

1. Close all running Chrome apps
2. Make sure there are no processes 'Chrome.exe' running on your machine
3. Launch 'cmd':
![2017-04-04 11_02_26-run](https://cloud.githubusercontent.com/assets/6689884/24650125/ed645a3e-1931-11e7-90cf-fd3e4dca8e92.png)
4. Run

[2017-04-04 13:01] mcopjan commented on #16
@elv1s42 thanks man, i have done literally the same steps before with no effect then I checked version of my Chrome and noticed it is not the most up to date version. I am on version 57.0.2987.133 now and all good!

[2017-04-04 13:08] elv1s42 commented on #16
Good, I've added link to my comment in README file (just in case anyone will need it in the future).

@mcopjan, thanks for confirmation that provided solution worked for you.

[2017-04-11 15:26] jmemmons opened #21 "Setting run name on the fly"
I've got some NUnit tests that run multiple times with different parameters and I need a way to distinguish the runs in the HTML reporter, like:

`[Role] - [Facility] - [Date]` instead of the default
`[StartTime] - [EndTime]`

The only thing I've been able to do so far is to read the `Ghpr.NUnit.Settings.json` file and write the runName I want into the file (not desirable).

[2017-04-11 15:51] elv1s42 commented on #21
Hi @jmemmons,

I agree with you, this would be a useful feature. But I am not sure about implementation.
This could be done if NUnit Console supported custom attributes, but it doesn't.

Do you have any ideas of implementation?

[2017-04-17 18:07] jacobwiseman opened #23 "NUnit Data Driven Results display incorrectly"
Using the new NUnit `TextFixtureSource `attribute **AND** feeding in complex objects as structured data-driven test input, the results as displayed in GHPReporter on the `run-test-list` page.

Instead of displaying the real test namespace hierarchy, GHPReporter is using the namespace of the input objects as well.

![capture](https://cloud.githubusercontent.com/assets/27698749/25098435/89eb0a44-237

[2017-04-18 07:53] elv1s42 commented on #23
Hi @UltimateWombat

I will try to reproduce this issue.
But in general, test list is generated by splitting test's full name (where '.' is used as separator).
Probably it is just the NUnit creates full name for tests with `TextFixtureSource`

In any case, thank you for this issue, I will let you know about the results of my investigation.

[2017-04-18 12:45] jacobwiseman commented on #23
On the `TestHistory` tab, the test's Full Name is displayed as `Quality.Automation.Tests.ClientApiTests(3,System.Collections.Generic.Dictionary'2[System.String,System.String],Quality.Automation.QueryObjects.ClientApi.MyObject.MyPayload,Quality.Automation.QueryObjects.ClientApi.Models.MyOtherObject.MyOtherPayload,Quality.Automation.QueryObjects.Tools.Models.ThirdPayload).testFindOrCreateSomething`

[2017-04-18 12:47] elv1s42 commented on #23
Hello again!

I think I found how to resolve this issue.
When you are using complex objects as structured data-driven test input NUnit generates Test full name by calling `.ToString()` method for your object.
According to MSDN, the default implementation of the ToString method returns the fully qualified name of the type:
![2017-04-18 15_38_26- object tostring system](https://cloud.githubuserconte

[2017-04-18 12:49] elv1s42 commented on #23
So basically you can try to override 'ToString()' method for your complex objects.

[2017-04-18 12:55] jacobwiseman commented on #23
This works for custom objects, however if I am passing something like a Dictionary then the `System.Collections.Generic.Dictionary` namespace is passes.  I'd rather not have to extend the Dictionary class simply to overwrite the toString method.

Could you perhaps ignore any of the namespace strings between the starting `(` and ending `)` that designates the input parameters?

[2017-04-18 13:19] elv1s42 commented on #23
Yes, this is possible. Will do this with the next release for Ghpr.Core because this test list is generated by javascript controller.

[2017-04-18 13:22] jacobwiseman commented on #23
Excellent, thanks!

[2017-04-18 16:24] elv1s42 commented on #23
Hello again!
I am afraid we have some issues with this fix.

1. First of all, if we ignore any of the namespace strings between the starting `(` and ending `)` for our case, we can brake another cases like this (and for several cases for Ghpr.SpecFlow.Plugin):
![2017-04-18 19_19_04-ghpr nunitexamples - microsoft visual studio](https://cloud.githubusercontent.com/assets/6689884/25141328/ed0afb34-24

[2017-04-18 18:03] jacobwiseman commented on #23
1.  In the test.json file there are 2 fields in the json.   `name` and `fullName`.   It seems that if you could:
- filter out the namespace strings between the starting `(` and ending `)` from `fullname` for **organization & sorting** purposes on the run-test-list tab
- but still use the `name` field to display the test to the user.

2.  I don't see how this is any different than the original prob

[2017-04-18 18:09] elv1s42 commented on #23
1. Agree, this is what will be done.

2. I would suggest using override method to get unique test name.

[2017-05-01 14:30] jmemmons commented on #21
Sorry to respond so late, company I work for has a release rolling out soon so it's been hectic.  The work around that I've been using is:

I use a custom AutomationConsoleRunner.exe that I made to loop through the roles as necessary and write to the GHP Reporter directory which is working beautifully. However, my employer wants to see screenshots which doesn't seem to work. The screenshots are no

[2017-05-02 11:30] elv1s42 commented on #21
Hi @jmemmons ,
please let me know if I can help you somehow.

Regarding screenshots: there is some information here https://github.com/GHPReporter/Ghpr.NUnit#how-to-work-with-screenshots

Custom names/folder locations for screenshots is not very easy to implement, as all these names are used for links.

[2017-05-04 14:39] elv1s42 commented on #23
Hi,
1. Fixed in new release.
2. I would suggest using override method to get unique test name:
http://stackoverflow.com/a/2024193/4185987

[2017-09-21 23:57] t2thefirst opened #26 "Report displays no data about specific runs"
It appears that my test results are not being properly written to the reporting tool. When viewing the report, I see the number of runs, and dates for those runs, but upon drilling into the individual runs, the main statistics and test list show that no tests were run.

Attached is my TestResults.xml files and the report generated from this run. The report uses the example data provided. [TestResu

[2017-09-22 12:53] elv1s42 commented on #26
Hi @t2thefirst !

Thank you for this issue.
Unfortunately I can't reproduce this issue.
Are you using the latest versions of both NUnit Console and Ghpr.NUnit?
Are you following this (https://github.com/GHPReporter/Ghpr.NUnit#usage) instructions about how to run Ghpr for NUnit tests?

[2017-09-22 12:53] #23 closed, assigned to elv1s42

[2017-09-22 21:59] t2thefirst commented on #26
Thank you for taking a look at my question.
I am using the latest version of Nunit Console (3.7.0) and Ghpr.NUnit (installed again today via NUget). I'm also following the instructions you linked.

Does it matter which version of Newtonsoft.Json.dll I use? My Ghpr.Nunit/Newtonsoft.Json.10.0.3 doesn't include a folder specifically for net452. I grabbed the Newtonsoft.Json.dll for my addins folder f

[2017-09-29 09:33] elv1s42 commented on #26
Hi @t2thefirst ,

Unfortunately I'm not able to reproduce this issue.

Were you able to see test report generated from [Ghpr.NUnit.Examples](https://github.com/GHPReporter/Ghpr.NUnit.Examples) ?

[2017-09-29 09:47] elv1s42 opened #27 "Support report generation from .xml file"
We need to create a new console application to generate the report from NUnit .xml test result file

[2017-10-03 22:19] t2thefirst commented on #26
Hi @elv1s42,
I'm not able to see results even with the test data from the Nunit.Examples.

Here is what I'm doing.
Download [Ghpr.NUnit.Examples](https://github.com/GHPReporter/Ghpr.NUnit.Examples) as a zip.
Extract and build Ghpr.NunitExamples.sln with Xamarin Studio.
Using run the tests with a command to  command similar to nunit3-console.exe C:/Path/to/Ghpr.NUnitExamples.dll
 I then get the res

[2017-10-04 09:21] elv1s42 commented on #26
Hi @t2thefirst !
I've updated NUnit.Examples repository with the latest Ghpr.Core and Ghpr.NUnit packages, can you please try generating the report once again?
Also please make sure that you have the latest NUnit.Console installed on your machine, see https://github.com/GHPReporter/Ghpr.NUnit#usage

[2017-10-05 11:23] nikembala opened #28 "NullReferenceException on SaveScreenshot()"
Hello,

Please review the exception we have, here is the stacktrace:

...
TearDown : System.TypeInitializationException : The type initializer for 'Ghpr.NUnit.Extensions.GhprEventListener' threw an exception.
----> System.NullReferenceException : Object reference not set to an instance of an object.
--TearDown
at Ghpr.NUnit.Extensions.GhprEventListener.get_OutputPath()
at Ghpr.NUnit.Utils.ScreenHe

[2017-10-05 11:34] elv1s42 commented on #28
Hi @nikembala !

Can you please try to reproduce this issue with the latest Ghpr.NUnit version (v 0.7.0.0)?

[2017-10-05 12:17] nikembala commented on #28
done
Issue was reproduced with 0.7.0
result is the same

[2017-10-05 17:09] elv1s42 commented on #28
Thank you!
I'll try to reproduce and fix this

[2017-10-08 20:09] nikembala commented on #28
Hello,
Could this error appear if something is missing in any of the configuration files ?
Regards,

[2017-10-08 20:19] elv1s42 commented on #28
Hi @nikembala !

Can you please make sure, that you have .json config file in your solution and it appears in the build folder?
For example, you can set 'Copy Always' option for .json config file:
![image](https://user-images.githubusercontent.com/6689884/31320547-016e5044-ac7f-11e7-8f02-ef05c1fee6fb.png)

[2017-10-09 12:48] xenaree opened #29 "No tests in the json files : All zeros"
Hello,
I followed the steps from the github tutorial, but everytime i run my tests (2 selenium tests, nunit, c#) via the console runner, the generated json files are created with 0 results.

`{"testRunFiles":[],"runInfo":{"guid":"2a45c56d-7034-4004-b110-415ec14891a3","start":"2017-10-09T13:29:37.3339941+02:00","finish":"2017-10-09T13:30:26.2869285+02:00","fileName":"run_2a45c56d-7034-4004-b110-415

[2017-10-10 20:19] PYasonau commented on #29
@xenaree Hi. This is because you use GHRP.Core.dll version 0.6.0. Please, change it to 0.7.0 in nuget manager, rebuild your project and replace with new dll. After that you will have tests in your tests results

[2017-10-12 23:58] t2thefirst commented on #26
Thanks for taking a look. You were right in the first place that I was on an older version.
My install of Ghpr.Nunit was using Ghpr.Core 0.6.0. It needs to be 0.7.0. Updating to the correct version resolved my issues. Issue #29 is the same behavior I was seeing.

[2017-10-12 23:58] #26 closed, assigned to elv1s42

[2017-10-13 07:49] elv1s42 commented on #26
@t2thefirst, thank you for the update!

[2017-10-17 13:04] xenaree commented on #29
That was it. Thank you!

[2017-10-17 13:04] #29 closed, assigned to nobody

[2017-10-26 18:58] nikembala commented on #28
Hi @elv1s42 , please excuse me for the late comment - the issue was resolved and the reason as you stated it - the settings files was not in the required directory. Thank you for the help!

[2017-10-26 18:58] #28 closed, assigned to elv1s42

[2017-11-13 13:52] GitSIPA opened #30 "Update nunit.framework reference in Ghpr.NUnit to NUnit version 3.9.0"
Hi!

We updated our NUnit version today from 3.7.1 to version 3.9.0 which was released two days ago.
https://github.com/nunit/nunit/releases/tag/3.9

Unfortunately we have now troubles getting Screenshots for our GHPReports.

This is the error message we get:
`System.IO.FileLoadException: Could not load file or assembly 'nunit.framework, Version=3.7.1.0, Culture=neutral, PublicKeyToken=2638cd05610

[2017-11-15 15:56] ramiputchakayala opened #31 "Support .NET 4.6.2"
Hi ,

We are using the framework 4.6.2 and looking for instructions on how we can use the tool through command line

version:NUnit.ConsoleRunner.3.7.0

Regards
RP

[2017-11-16 09:54] nitinchawda opened #32 "Can we rename the "runs" in plotly chart/pic presentation with build number or"
Highlighted
![image](https://user-images.githubusercontent.com/18319409/32885003-212e6072-caf7-11e7-9cb5-903697c6e3c2.png)

[2017-11-21 15:02] elv1s42 commented on #31
Hi @ramiputchakayala !

Thank you for this issue.
At the moment only net40 and net452 are supported, but more versions will be added in the future.

[2017-11-21 16:00] elv1s42 commented on #32
Hi @nitinchawda !

By default all test runs are called `run n`, where n is current number of runs.
You can specify run name by inserting it in .json config file.

[2017-12-04 10:17] testingplusme commented on #27
Hello @elv1s42 can you do something with this? For me, it will be very helpful. In my opinion, Ghpr reporter is the best so it will be good for me, however, now execution isn't satisfying :(

[2017-12-07 10:26] elv1s42 commented on #27
Hi @jakismichal ,

We are looking to release this feature in the mext release for v 0.9

Thank you

[2017-12-20 14:26] testingplusme commented on #27
@elv1s42 Awesome :)
Also, Thank you. I saw that you created this project :) Do you know when it will be possible to download?

[2017-12-27 05:05] nitinchawda commented on #32
Thanks, i have modified it and it did work :)

[2017-12-27 05:05] #32 closed, assigned to elv1s42

[2017-12-27 05:08] nitinchawda opened #33 "Is there any way to aggregate the different runs(libraries - similar to multiple test suites) and display the report similar to individual test library run report"

[2017-12-27 08:43] elv1s42 commented on #32
Cool, thanks for confirming!

[2017-12-27 09:14] elv1s42 commented on #33
Hi @nitinchawda !

If you are using NUnit then it is possible to combine several test libraries into one `.nunit` project.
For more information please see: https://github.com/nunit/docs/wiki/NUnit-Test-Projects

Also you can take a look at example of such project files in our NUnit examples repository:
https://github.com/GHPReporter/Ghpr.NUnit.Examples/blob/master/Ghpr.NUnitExamples/SomeTests.nuni

[2017-12-27 09:22] nitinchawda commented on #33
Hi Evgeniy, Thanks for responding. I got what you meant. But i think i missed out important part in my query to post. Sorry for that :)

My query:
1) Each test suites in Different build configuration under Teamcity - (Why different - each test library runs have different tests meant with different setup required)
2) Each have test report tabs displaying individual test report - (running single tes

[2017-12-27 09:39] elv1s42 commented on #33
Ok, I see what you mean.
Am I right that you have several reports created in different folders?

The most simple workaround here is to use nunit test result `.xml` files, then pass them to Ghpr.Console to generate aggregate report. Can you please let me know if this workaround will work for you? If so, then I can add support for multiple files in Ghpr.Console

[2017-12-27 14:39] elv1s42 commented on #30
Hi @GitSIPA, this is released now.
Thank you

[2017-12-27 14:39] #30 closed, assigned to elv1s42

[2017-12-27 14:40] elv1s42 commented on #27
Hi @jakismichal !
This should work now with Ghpr.Console v0.8.0.2:
https://github.com/GHPReporter/Ghpr.Console

Thank you

[2017-12-27 14:40] #27 closed, assigned to elv1s42

[2018-01-27 18:26] nitinchawda commented on #33
Hi Evgeniy,

I couldn't try it out immediately but i did try it out today and the package Ghpr.Console nuget failed to install with following errors:

Install-Package : Error downloading 'Ghpr.Core.0.8.0.2 : Newtonsoft.Json [10.0.3, )' from
'https://api.nuget.org/v3-flatcontainer/ghpr.core/0.8.0.2/ghpr.core.0.8.0.2.nupkg'.
At line:1 char:1
+ Install-Package Ghpr.Console -Version 0.8.0.2
+ ~~~~~~~~

[2018-01-29 13:03] elv1s42 commented on #33
Hi @nitinchawda !

I've tested installation via NuGet and it worked for me:
![image](https://user-images.githubusercontent.com/6689884/35511689-f6edd6de-050d-11e8-840a-13a0cc5d6315.png)

[2018-01-30 15:32] sathishkumarmani-cesltd opened #34 "Unable to generate the Ghpr report"
Hi,

I have tried to implement Ghpr report and followed all the steps as mentioned in readme file....however I am not able to generate a report. Below are the steps which I have followed
-> I couldn't find any folder with name addins, so i have created a new folder under ".nuget\packages\nunit.consolerunner\3.8.0\addins" and added all required dlls into it.
-> There is no "nunit.engine.addins" fil

[2018-01-30 16:08] elv1s42 commented on #34
Hi @sathishkumarmani-cesltd !

For using Ghpr.NUnit you need to install NUnit Console:
https://github.com/nunit/nunit-console/releases

After that you will be able to see the addins folder:
![image](https://user-images.githubusercontent.com/6689884/35576810-f914f206-05f0-11e8-91f7-030d12f1c4bc.png)

Thank you

[2018-01-30 16:23] sathishkumarmani-cesltd commented on #34
@elv1s42 Thanks for the quick response :-). As I mentioned earlier I have installed NUnit console version 3.8.0
![image](https://user-images.githubusercontent.com/26871121/35577579-e977bbe6-0607-11e8-8d81-b9f141110f2d.png)

![image](https://user-images.githubusercontent.com/26871121/35577633-02fbe8b2-0608-11e8-976a-737a18043c8d.png)

No dlls or folders under NUnit console folder (Screenshot of nun

[2018-01-30 20:11] elv1s42 commented on #34
Hi @sathishkumarmani-cesltd

The NUnit Console should be installed on your local machine via running `.msi` file, not via NuGet:
![image](https://user-images.githubusercontent.com/6689884/35588520-f70c0cda-0611-11e8-8ee3-70d4612b38ca.png)

![image](https://user-images.githubusercontent.com/6689884/35588533-ffc95620-0611-11e8-9de8-337540bdab80.png)

Then you will be able to see the `addins` folder:

[2018-01-31 10:43] sathishkumarmani-cesltd commented on #34
Thanks for the detailed response.. I have installed nunit console and have tried to run the test from nunit console. Now I am getting another error as shown below:

![image](https://user-images.githubusercontent.com/26871121/35619963-9d0678ee-06a5-11e8-98cf-177ed1b6153e.png)

However When I remove the addins/Ghpr.NUnit.dll from addins file, I am able to run the test..

Please help and let me know

[2018-01-31 15:23] sathishkumarmani-cesltd commented on #34
Hi, I am able to generate the report after adding Nunit.engine dll in addins folder.. Thanks

[2018-01-31 15:51] elv1s42 commented on #34
Hi @sathishkumarmani-cesltd , thank you very much for the update.
I'll take a look at NuGet packages for Ghpr.NUnit as it looks like NUnit.Engine package should be updated

[2018-02-01 13:52] georgooty commented on #34
Hi @sathishkumarmani-cesltd,

I'm also facing the same issue. I'm copied the Nunit.engine dll into addins folder. But the issue still exists.
can you please let me know , if anything you did additionally?

Regards,George

[2018-02-01 13:58] sathishkumarmani-cesltd commented on #34
Hi George,
Could you please share the dlls and their versions and please share the screenshot as well to look into detail..

Thanks

[2018-02-01 15:07] georgooty commented on #34
Ghpr.Core  - 0.8.0.2
Ghpr.NUnit - 0.8.0.2
NUnit - [3.9.0]
NUnit.ConsoleRunner - 3.8.0
![nunitconsole](https://user-images.githubusercontent.com/266172/35685388-964c6a28-078f-11e8-8a0a-55b6449c920b.PNG)

[2018-02-09 10:03] elv1s42 commented on #34
Hi @sathishkumarmani-cesltd , hi @georgooty !

The new version is released now. The issue was with Ghpr.NUnit which was using the previous version of NUnit.Engine (v 3.7.0 instead of v 3.8.0).

Thank you

[2018-02-09 10:12] #34 closed, assigned to elv1s42

[2018-02-19 08:42] nitinchawda commented on #33
Hi Evgeniy,

Can we install this package outside visual studio? I do not want it to install just under specific project or visual studio alone. I see that outside of VS it doesn't download the dependencies correctly for me.

Something not working when installing outside VS.

Thanks

[2018-02-26 06:01] nitinchawda commented on #33
Hi Evgeniy,

Can we install this package outside visual studio? I do not want it to
install just under specific project or visual studio alone. I see that
outside of VS it doesn't download the dependencies correctly for me.

Something not working when installing outside VS.

Thanks

On Mon, Jan 29, 2018 at 9:04 PM, Evgeniy Kosjakov <notifications@github.com>
wrote:

[2018-02-26 09:27] elv1s42 commented on #33
Hi @nitinchawda !

Can you please let me know how do you download and install that package without visaul studio?
Simple copy/paste should work for you.

Thank you

[2018-02-27 09:22] nitinchawda commented on #33
Hi Evgeniy,

I have been able to download the packages successfully. But the multiple
.xml (different test run dll) results when passed on to the
Ghpr.Console.exe it is not giving me the different packages in the
index.html.

I passed the argument as:  Ghpr.Console.exe "testresult1.xml" "testresult2.xml"

This way it takes only first xml and generates the report. it doesn't take second test result

[2018-02-28 13:40] elv1s42 commented on #33
Hi @nitinchawda !

At the moment multiple files processing is not supported yet, this feature will be added int the next release. So in the future you will be able to generate one test run from several result files.

Now you can run Ghpr.Console several times and pass a new file name each time. It will generate one report with several test runs.

Thank you.

[2018-03-20 07:53] Sedemicra opened #35 "Newtonsoft.json v11 not supported"
Hello,
There is new version of Newtonsoft.Json: v11
Upgrading to it causes the following error:
`System.Reflection.TargetInvocationException : Exception has been thrown by the target of an invocation.
  ----> System.TypeInitializationException : The type initializer for 'Ghpr.NUnit.Extensions.GhprEventListener' threw an exception.
  ----> System.IO.FileNotFoundException : Could not load file or as

[2018-03-20 10:14] elv1s42 commented on #35
Hi @axinom-raido !

I'll prepare the new release with updated packages.
Will close the issue after new package will be uploaded

Thank you

[2018-03-21 15:09] elv1s42 commented on #35
Hi @axinom-raido , new Core and NUnit packages has been uploaded

[2018-06-07 17:33] seanhotaling opened #36 "Add Output from OneTimeSetup and OneTimeTearDown Methods"
While I find the logs from each test-case output node useful within the report, it would be even more useful to include the test-suite output as well.  The test-suite output can potentially be added **to the Output tab for each test** or **to a new Output tab when clicking on what is now the collapsible links in the test list**.  The first approach needs to keep in mind that suites can be nested a

[2018-06-07 17:45] elv1s42 commented on #36
Hi @sean-hotaling,
Thank you for this issue.
I'll try to investigate both of the solutions and come back to discuss what solution would be more useful.

Thank you

[2018-06-12 16:00] seanhotaling opened #37 "Support Attachment Nodes for Screenshot Mapping"
With recent releases of NUnit, `AddTestAttachment(string filePath, string description = null);` allows screenshots to now be mapped to the test case: https://github.com/nunit/docs/wiki/TestContext.

[code]

This would reduce the need for ScreenHelper.

[2018-06-12 17:52] elv1s42 commented on #37
Hi @sean-hotaling !

Thank you for this issue.
Agreed to support NUnit test attachments in the generated report. But ScreenHelper will be supported because there are some upcoming changes with general Ghpr.Core structure to support the ability of saving test results ont only as local .json files but as database records too.

Thanks.

[2018-06-12 17:53] #35 closed, assigned to elv1s42

[2018-06-13 09:39] elv1s42 commented on #36
Hi @sean-hotaling !

I think this should be implemented as a separate tab on test run page.
There is a plan to move each test output into separate file: https://github.com/GHPReporter/Ghpr.Core/issues/40
This file should also include output from test-suite. Adding test-suite output to collapsible test list will slow down loading of this list because we will have to load output of each test.

Can y

[2018-06-13 09:48] elv1s42 commented on #33
Hi @nitinchawda!
You can try using Ghpr.Console to generate one report from several .xml results file.
Closing this issue

[2018-06-13 09:48] #33 closed, assigned to elv1s42

[2018-06-13 11:04] seanhotaling commented on #36
@elv1s42, yes.  That makes sense to me.

[2018-06-14 08:26] elv1s42 commented on #21
Hi @jmemmons !
Can you please let me know if this is still required?

It will be possible to add extra method in the Core reposiroty codebase which will give an ability to set up custom run name during test run (from tests code, for example, inside [OneTimeSetUp] method)

Thank you

[2018-06-21 17:21] elv1s42 commented on #37
All additional output will be stored under a separate tab like this:
![image](https://user-images.githubusercontent.com/6689884/41734791-ad9edb74-7590-11e8-9adc-5a261eb09044.png)

[2018-06-21 17:27] seanhotaling commented on #37
@elv1s42, is this in reference to the above enhancement or #36?

[2018-06-21 17:40] elv1s42 commented on #37
@sean-hotaling yes, sorry.
I had both issues opened in different tabs.

[2018-06-21 17:41] elv1s42 commented on #36
All additional output will be stored under a separate tab like this:
![image](https://user-images.githubusercontent.com/6689884/41734791-ad9edb74-7590-11e8-9adc-5a261eb09044.png)

[2018-06-21 18:32] elv1s42 commented on #37
By default all attachments with extentions `.png`, `.jpeg` and `.bmp` will be considered as test screenshots and displayed in the report.

[2018-06-26 18:30] elv1s42 commented on #36
Hi @sean-hotaling
Works fine for your .xml file (tested locally):

![image](https://user-images.githubusercontent.com/6689884/41931867-ffcfab94-7987-11e8-8ce8-701e16d186ec.png)

I'll include this in the next release

[2018-06-27 17:39] seanhotaling commented on #36
@elv1s42, awesome.  I will look for the next release then.  Thanks.

[2018-06-28 02:40] jmemmons commented on #21
Hey, I wanted to let you know I was able to get what I needed to work. I wrote a script that figures out what the test name should be, then writes the test name to the Settings.json file before running the tests. I'm closing this since what I needed isn't really a feature for the tool. I love the tool by the way. The managers at the company I work for really like this report.

[2018-06-28 02:40] #21 closed, assigned to elv1s42

[2018-07-02 13:33] elv1s42 commented on #36
This now has been released. Please see the release notes [here](https://github.com/GHPReporter/Ghpr.Core/blob/master/RELEASE_NOTES.md#v09)

[2018-07-02 13:33] elv1s42 commented on #37
This now has been released too. Please see the release notes [here](https://github.com/GHPReporter/Ghpr.Core/blob/master/RELEASE_NOTES.md#v09)

[2018-07-02 19:25] seanhotaling commented on #37
@elv1s42, thanks much!  ~~Will this be updated to be used from your console package?~~  It looks like the suite output will show in the report but not the screenshots from the attachment nodes.

Edit: Nothing to do with the console package, sorry.  I did notice though that you save the screenshots into a `TestScreenshotDto` within `GhprTestCase`, but nothing is ever done with those screenshots.  I

[2018-07-03 13:12] seanhotaling commented on #36
@elv1s42, this works great.  Thanks!

[2018-07-03 13:12] #36 closed, assigned to elv1s42

[2018-07-03 14:22] elv1s42 commented on #37
Hi @sean-hotaling ,
This now should work for both NUnit Console Addin (this package) and Ghpr.Console package (used to generate reports from `.xml` results file).

Thank you.

[2018-07-03 14:22] elv1s42 commented on #37
Please use the latest version which is v.0.9.1

[2018-07-03 14:54] seanhotaling commented on #37
@elv1s42, thanks for the quick updates.  Unfortunately, I installed 0.9.1 and am still not seeing those screenshots in the report.  I see the /img/ folder created now with my screenshot copied over, but the controller isn't picking it up: `screensInfo.length` in the controller is 0.

[2018-07-03 16:20] elv1s42 commented on #37
@sean-hotaling Sorry, I'll try to debug and fix it tomorrow then

[2018-07-04 08:36] elv1s42 commented on #37
Hi @sean-hotaling, it should finally work in v0.9.1.1

[2018-07-06 17:24] #37 closed, assigned to elv1s42

[2018-09-07 03:43] rommel-baltazar opened #38 "Ghpr.NUnit/Ghpr.Console does not work with NUnit.Engine3.9.0"
Hi,

There's is a new version of NUnit.Engine (3.9.0) and I have found out that report does not get generated with this version. Workaround is to roll back NUnit.Engine to 3.8.0.

**Environment:**
Ghpr.Console                      {0.9.2}
Ghpr.Core                           {0.9.2}
Ghpr.LocalFileSystem          {0.9.2}
Ghpr.MSTest                        {0.9.2.1}
Ghpr.NUnit

[2018-09-07 05:45] elv1s42 commented on #38
Hi @rommel-baltazar !
Thank you for detailed issue, I've updated NUnit.Engine package in both Ghpr.NUnit and Ghpr.Console projects, please use the latest v0.9.2.1 of both packages.

Thank you

[2018-09-11 07:01] dependabot-preview[bot] opened #39 "Dependabot couldn't find a Ghpr.Core.csproj for this project"
Dependabot couldn't find a Ghpr.Core.csproj for this project.

Dependabot requires a Ghpr.Core.csproj to evaluate your project's current Dotnet dependencies. It had expected to find one at the path: `/Ghpr.Core/Ghpr.Core/Ghpr.Core.csproj`.

If this isn't a Dotnet project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can me

[2018-09-11 07:07] elv1s42 commented on #39
Hi @dependabot!

In this project I am using git submodule for more convinient debugging.
Does Dependabot support submodules?

Thank you!

[2018-09-11 07:10] dependabot-preview[bot] opened #40 "Dependabot couldn't find a Ghpr.Core.csproj for this project"
Dependabot couldn't find a Ghpr.Core.csproj for this project.

Dependabot requires a Ghpr.Core.csproj to evaluate your project's current Dotnet dependencies. It had expected to find one at the path: `/Ghpr.Core/Ghpr.Core/Ghpr.Core.csproj`.

If this isn't a Dotnet project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can me

[2018-09-11 07:11] elv1s42 commented on #40
Closing as duplicate of https://github.com/GHPReporter/Ghpr.NUnit/issues/39

[2018-09-11 07:11] #40 closed, assigned to elv1s42

[2018-09-11 09:17] greysteil commented on #39
First up, sorry for the duplicate issues. I'm not 100% sure what could have caused that. I've made some changes to our backend that should prevent it happening again, but if you see this again please let me know.

Secondly, Dependabot has limited support for submodules (it can fetch files one level deep in them). I'm going to take a look at expanding that now.

[2018-09-11 10:09] elv1s42 commented on #39
Hi @greysteil ,

Thank you very much for the quick response.

Sorry, the duplicate issue was created becuase I've tried to change Directory (I've deleted the project and added it once again, that's why the issue was create twice):
![image](https://user-images.githubusercontent.com/6689884/45353491-9a7e0380-b5c3-11e8-8a07-f05bee1e389f.png)

Regarding submodules - am I right that Dependabot will sti

[2018-09-11 10:24] greysteil commented on #39
Not at the moment, because for some languages having all of the files is a requirement to do resolution (.NET doesn't fall into that category, but the Dependabot restriction is applied to all languages).

I'm going to take a look at expanding our submodule support now, though, so should be able to get something working today.

[2018-09-11 10:36] elv1s42 commented on #39
Thank you @greysteil , I've starred Dependabot's repository as really helpful for me.

[2018-09-11 12:50] #39 closed, assigned to elv1s42

[2018-09-11 12:52] greysteil commented on #39
FYI, I made [this change](https://github.com/dependabot/dependabot-core/commit/01a25abb85c83ca35bb90f81296c373a6f91f92f) to Dependabot's logic for .NET. It will now happily create PRs for the dependencies in this repo, ignoring those that are pulled in from submodules.

Thanks for tagging me on this one, and helping make Dependabot better!

[2018-09-11 12:54] elv1s42 commented on #39
Thank you for very quick fix!

[2018-10-22 11:12] #38 closed, assigned to elv1s42

[2018-10-26 12:56] elv1s42 opened #42 "[Feature] Support .net core 2.0"
add new target

[2018-10-26 12:56] elv1s42 commented on #42
related to https://github.com/GHPReporter/Ghpr.Core/issues/54

[2019-01-17 07:18] arnonra-tr commented on #16
Hi @elv1s42
Thanks for all your work.

As to opening the report, I would recommend running a small http server locally, [as per this response](https://stackoverflow.com/a/33801287), running the server from where the report was generated.

Cheers..

[2019-01-27 04:44] zhuyumi opened #48 "'nunit.engine.addins' file and location changed. Need to update Readme file"
**Describe the bug**
In the latest Nunit Console install package, the file 'nunit.engine.addins' has changed it's name and path.
Which means, https://github.com/GHPReporter/Ghpr.NUnit this readme doc is out dated.
It confused me a while before I realized what wrong was it.

Old Name:  nunit.engine.addins
Old Path: \YOURLOCATION\NUnit.org\nunit-console\addins
New Name: nunit.**bundle**.addins
New P

[2019-01-28 15:07] elv1s42 commented on #48
Hi @woshizhuyumi !

Thank you very much for the detailed issue report, I've update the README file.

Best regards,
Evgeniy

[2019-04-05 13:16] ClassyCircuit commented on #31
It's been 2 years, are you ever going to support 4.6 ?

[2019-04-09 08:23] #48 closed, assigned to elv1s42

[2019-05-06 23:11] vanderkyl opened #52 "NUnit Test Attachments aren't working as Screenshots"
**Describe the bug**
I am trying to add screenshots to the GHP report by using Nunit Test Attachments. The attachment is in the test result xml file, but it is not showing up in the html report.

Here is the screenshot code. This occurs in [TearDown]:

                var screenshot = ((ITakesScreenshot)Driver.Get()).GetScreenshot();
                string fileName = CurrentTestNameToJPG();

[2019-06-23 16:40] elv1s42 commented on #31
Hi @janissimsons .
Yes, the work is in progress to support multiple frameworks in Ghpr.Core:
https://github.com/GHPReporter/Ghpr.Core/pull/113

After this is done NUnit repository will be updated.

[2019-06-24 09:00] LiaoMin777 opened #54 "Could you help me solve this issue?"
Ghpr.NUnit.Settings.json could not be read

[2019-06-24 09:40] elv1s42 commented on #54
Hi @LiaoMin777 !
Please check that you have the latest version of the packages as the structure changed a little bit: https://github.com/GHPReporter/Ghpr.Core#about-settings-file

Please see [Release notes](https://github.com/GHPReporter/Ghpr.Core/blob/master/RELEASE_NOTES.md#v099) for more details.

Thank you

[2019-06-26 04:36] davesliu opened #55 "usage issue"
I downloaded the https://github.com/GHPReporter/Ghpr.NUnit.Examples

1 When I use NuGet to download the Ghpr.Console and compile the Ghpr.NUnit.Examples. It will display error that  "Console.WriteLine()" can't parsed in .cs files. I need to use System.Console.Write() in .cs files to pass the build.
So could someone update the Ghpr.Console plug-in to mitigate the build error?

2. For the usage
"Add

[2019-06-26 09:46] elv1s42 commented on #55
Hi @davesliu !

Thank you very much for detailed issue description.
Regarding your two points:
1. The issue is related with the name on the Console project. Basically `System.Console` namespace conflicts with `Ghpr.Console`. I'll update the repository to use different namespace.

2. The usage description from Ghpr.NUnit repository is related to the usage of NUnit Console which is installed locally

[2019-06-28 04:16] davesliu commented on #55
@elv1s42
Thank you very much for your help :-)

BTW, another question here:
As we want to implement continuous integration for unit test with Jenkins.
So is it possible to integrate the Ghpr.NUnit to the Jenkins?

[2019-06-28 10:45] elv1s42 commented on #55
Hi @davesliu !

I've never tried it myself, but it should be possible.
You can take a look at this `README` section: https://github.com/GHPReporter/Ghpr.Core#how-to-publish-the-report-in-jenkins

Thank you

[2019-07-06 14:16] elv1s42 commented on #55
`README` updated: https://github.com/GHPReporter/Ghpr.NUnit/blob/master/README.md#with-nunit-3-consolerunner-nuget-package

[2019-07-09 06:59] #55 closed, assigned to elv1s42

[2019-08-20 10:48] elv1s42 opened #57 "NuGet package detected by NUnit"
We need a new package which will be automatically detected by NUnit Engine.
Related issue: https://github.com/nunit/nunit-console/issues/487

[2019-10-01 10:49] Steffx115 opened #61 "Screenshot added via NUnit TestContext.AddTestAttachment is displayed twice in GHPReport"
**Steps to reproduce**
Add screenshot to NUnit TestContext via AddtestAttachment method

**Expected behavior**
Screenshot should only be displayed once

**Desktop (please complete the following information):**
 - OS: Windows 10 Enterprise 64 bit
 - Browser: Chrome 77.0.3865.90 64 bit

[2019-10-04 16:49] elv1s42 commented on #61
Hi @Steffx115 !

Can you please clarify how do you take screenshots in your tests?
Are you doing it inside `[TearDown]` method or inside `[Test]` method?
Are you using only `TestContext.AddTestAttachment(...)` method without `ScreenHelper.SaveScreenshot(...)` method?

These details will help me to reproduce the issue.

Thank you

[2019-10-11 10:05] Steffx115 commented on #61
Hi,

We have a class called `TestBase` ,from which every TestClass is inherited, inside this class we take the screenshot inside the `[TearDown]` method, and we only use the `TestContext.AddTestAttachment(...)` method to save the screenshot

[2019-10-11 11:11] mcopjan commented on #42
Hi @elv1s42, when are you planning to roll this out please? We would like to use this tool to create Nunit reports but out test project is build on .netCore 2.2 and we are using https://github.com/nunit/docs/wiki/NUnitLite-Runner to execute our tests (hence there is no .addins file etc.).

[2019-10-11 13:13] elv1s42 commented on #42
Hi @mcopjan !

Yes, this one is in progress.
At the moment I have `.Core` version of the Ghpr NuGet package (not published yet), but there may be some issues with the way Ghpr package will be discovered by NUnit Engine. You check another thread for more details here:
https://github.com/nunit/nunit-console/issues/487#issuecomment-511121027

For now I don't have much time to investigate this deeper,

[2019-10-18 08:37] elv1s42 commented on #61
Hi @Steffx115,

I've tried to reproduce the issue on my side and there are no duplicates.
I used this code to reproduce the issue:
![image](https://user-images.githubusercontent.com/6689884/67079293-98f61600-f19b-11e9-8507-53de6cea40c2.png)

The report has only one screenshot in this case.

[2019-10-18 16:03] elv1s42 commented on #52
Hi @vanderkyl !

This functionality was release later.
Please see the release notes for more details:
https://github.com/GHPReporter/Ghpr.Core/blob/master/RELEASE_NOTES.md#v09

The corresponding issue with feature request:
https://github.com/GHPReporter/Ghpr.NUnit/issues/37

[2019-10-18 16:03] #52 closed, assigned to elv1s42

[2019-10-18 16:05] elv1s42 opened #65 "Release preparation"
Prepare the release by updating `.nuspec` file and adding support for .NET Core 3.0

[2019-10-18 16:33] elv1s42 commented on #65
Done in https://github.com/GHPReporter/Ghpr.NUnit/pull/66

[2019-10-18 16:33] #65 closed, assigned to elv1s42

[2019-10-18 16:43] elv1s42 commented on #54
Please feel free to come back with more questions or create a new issue/feature request.
Closing this one.

[2019-10-18 16:43] #54 closed, assigned to elv1s42

[2019-10-21 09:24] Steffx115 commented on #61
Did u let the Test fail so the Screenshot is taken from the TearDown method?
Because we add the ScreenShot int he teardown using TestContext.AddTestAttachment

[2019-10-21 09:51] elv1s42 commented on #61
Hi @Steffx115 !

Sorry, my bad.

I've tried to reproduce it once again with the correct repro steps - failing test with screenshot taken in the `[Teardown]` method:
![image](https://user-images.githubusercontent.com/6689884/67195030-e3c49780-f400-11e9-9302-5dafd93ea3f8.png)

The test is now failing:
![image](https://user-images.githubusercontent.com/6689884/67195191-330ac800-f401-11e9-86ae-2b32021

[2019-10-21 11:25] Steffx115 commented on #61
The only difference i notice now is, that we use .bmp as file extension for saving the screenshot

EDIT: i changed the file extension to .png, but this had no effect on this issue

[2019-10-21 13:59] Steffx115 commented on #61
additional Info: Opening the test result via the VS Test explorer also only shows one Screenshot as test attachment

[2019-10-24 13:59] msscribner opened #67 "Screenshot added via NUnit TestContext.AddTestAttachment does not display GHPReport"
Screenshot is not displaying in the GHPReport

From a Selenium Test, I'm adding creating a screen shot and adding it to the NUNIT log:
    TestContext.AddTestAttachment("C:\\temp\\emailName.JPG");

Generated XML looks something like:
![image](https://user-images.githubusercontent.com/45525002/67502035-457c4000-f653-11e9-8da3-b4d0742e6de3.png)

To generate the GHPReport, I'm including NuGet package

[2019-10-24 20:11] msscribner opened #68 "Start datetime display doesn't match NUNIT start-time"
**Describe the bug**
Looking at the NUNIT log, the tests ran from:
   start-time="2019-10-**07 02:51:57**Z"
   end-time="2019-10-07 07:10:49Z"
   duration="15532.193087"

But the report is displaying:
   Start datetime: 2019-10-**06 22:51:58**
   Finish datetime: 2019-10-07 03:10:49
   Duration: 04:18:51.00

Start datetime has the wrong day and time!

![image](https://user-images.githubusercontent

[2019-10-25 08:13] elv1s42 commented on #67
Hi @msscribner !
Thank you for the issue, I'll try to reproduce it.
Are you running the tests in parallel? Are you doing it on the [framework level](https://github.com/nunit/docs/wiki/Framework-Parallel-Test-Execution) or on [engine level](https://github.com/nunit/docs/wiki/Engine-Parallel-Test-Execution)?

[2019-10-25 08:16] elv1s42 commented on #61
Hi @Steffx115 !
Still no luck with trying to reproduce the issue.
Can you please try to run [this test](https://github.com/GHPReporter/Ghpr.NUnit/blob/master/NUnitTests/Tests.cs#L27) to see if you'll get the screenshot twice for my example as well?

Thank you

[2019-10-25 08:29] elv1s42 commented on #68
Hi @msscribner !

In Ghpr.NUnit there is a different approach to get test run start and end time. That's because in NUnit both `start-time` and `end-time` for each run and for each test have format `yyyy-MM-dd HH:mm:ss`.

But the bug may be related to timezone differences as NUnit is using UTC DateTime.

Can you please tell me what was the local timezone on the machine where the tests were running

[2019-10-25 08:40] Steffx115 commented on #61
hi @elv1s42 , i just noticed that you didnt reproduce this with the class structure that I use
you would need to move the `[TestFixture]` declaration and the `[Teardown]` method, which takes the screenshot, to another class and inherit from it.

So then you would have `public class Tests : TestBase` which contains only the tests, and no `Teardown` and no `TestFixture` declaration

[2019-10-25 08:50] elv1s42 commented on #61
Ok, let me try once again

[2019-10-25 08:57] elv1s42 commented on #61
@Steffx115 , still works fine for me with this structure:
![image](https://user-images.githubusercontent.com/6689884/67557866-9016be80-f71e-11e9-800e-8d4e75497fe5.png)

The latest [commit](https://github.com/GHPReporter/Ghpr.NUnit/commit/9b60d45c49ea181f49d14643bd19b6a9ce99c987) with the test is in the `master` branch.

[2019-10-25 12:39] msscribner commented on #67
I believe the answer to your question ( framework level
<https://github.com/nunit/docs/wiki/Framework-Parallel-Test-Execution>
vs engine
level <https://github.com/nunit/docs/wiki/Engine-Parallel-Test-Execution>)
is Framework.level.  But in this case, I'm only executing a single test.

Test are configured as:
        [TestFixture, Parallelizable(ParallelScope.All)]

. . .

        [Test, Category(C

[2019-10-25 13:30] msscribner commented on #67
This is the NUNIT report I'm using as input for the GHP Report
[AutomationTestResults_A_00_10232019_151438.txt](https://github.com/GHPReporter/Ghpr.NUnit/files/3772270/AutomationTestResults_A_00_10232019_151438.txt)

[2019-10-25 15:36] elv1s42 commented on #67
Ok, so am I right that you are using Ghpr.Console to generate the report after test run is finished?
Also can you please check that the screenshot `<filePath>C:\temp\emailName.JPG</filePath>` file exists at the time when the report is generated?

Thank you

[2019-10-25 16:59] msscribner commented on #67
My application calls the API  ReportHelper.GenerateReport.
       ReportHelper.GenerateReport(files.ToArray());

The file 'emailName.JPG' physically exists at the location
C:\temp\emailName.JPG.

On Fri, Oct 25, 2019 at 11:36 AM Evgeniy Kosjakov <notifications@github.com>
wrote:

[2019-10-26 09:05] elv1s42 commented on #67
Hi @msscribner !
I was able to reproduce the issue, the file `AutomationTestResults_A_00_10232019_151438.txt` helped a lot, thank you. Going to fix it on this weekend and try to release the next week

[2019-10-28 11:09] Steffx115 commented on #61
In our test solution we have 2 TestFixtures defined for TestBase, is it possible that the screenshot is duplicated because of this?

EDIT: we only execute 1 TestFixture per testrun

[2019-10-28 13:08] msscribner commented on #68
Report is generated in Eastern Time Zone.... but I think the 4 hour difference is probably related to UTC time as you pointed out.  I'll 'Close' issue.

[2019-10-28 13:08] #68 closed, assigned to elv1s42

[2019-11-15 17:05] elv1s42 commented on #68
Released in v0.9.10

[2019-11-15 17:06] elv1s42 commented on #67
Released in v0.9.10

[2019-11-15 17:06] #67 closed, assigned to elv1s42

[2019-11-19 15:34] elv1s42 commented on #31
Done.

[2019-11-19 15:34] #31 closed, assigned to elv1s42

[2019-11-19 15:35] elv1s42 commented on #42
Done

[2019-11-19 15:35] #42 closed, assigned to elv1s42

[2019-11-27 16:52] Steffx115 commented on #61
hi, is there any update on this?

[2019-11-27 19:07] msscribner opened #72 "Retention - clean up job - Doesn't appear to work"
I'm setting the Retention amount and till, but old runs remain in the newly generated report.

Steps to reproduce the behavior:
I’ve adjusted the ‘amount’ from 1000 down to 3.  When I generate a new report, the ‘Total Runs’ continues to tick up.   I’ve adjusted the ‘till’ from "2017-01-25 10:00:00" to "2019-11-27 13:34:00" (Current Date/Time) and when I generate a new report, ALL previously genera

[2019-12-02 16:25] msscribner commented on #72
A little more information:

I'm calling the API:  Ghpr.Cli.ReportHelper.GenerateReport (... ).  It doesn't appear to me, that this functionality calls the CleanUpJob() method.

I was able to get my process to work by calling:
            ReportHelper.GenerateReport(files.ToArray());
            var reporter = ReporterFactory.Build(new TestDataProvider());
            reporter.CleanUpJob();

[2019-12-04 09:29] elv1s42 commented on #72
Hi @msscribner!
Sorry for the late response.

Regarding your questions.
1. Yes, this is a bug, I'll fix and include in the next release.
2. Yes, this is how it's used now by `Ghpr.NUnit` but missing in the `Ghpr.Console`.
3. Yes, it's possible. Your code is very close to what we have in the `Ghpr.Console` now

Regards,
Evgeniy

[2019-12-04 09:43] elv1s42 commented on #61
Hi @Steffx115!

Sorry for the delay, I still was not able to reproduce the issue.
Can you please provide a small code sample so I would be able to reproduce your issue?

Thank you

[2019-12-05 09:13] elv1s42 commented on #72
The bug was in the `Ghpr.Console` repository, I'll release it today as `v0.9.10`

[2019-12-05 13:35] elv1s42 commented on #72
This now has been released. Please feel free to reopen the issue or raise a new one in case something is not working.

[2019-12-05 13:35] #72 closed

[2020-03-10 16:22] zubr7 opened #77 "Integrating with .Net Core test project"
**Describe the bug**
First of all I'd like to say thank you for your project!
Unfortunately, I failed to integrate GHPReporter into my project (.Net Core Nunit test project). I didn't receive a generated file.

**To Reproduce**
Steps to reproduce the behavior:
1. Added the entry below into 'C:\Users\windows_username\.nuget\packages\nunit.consolerunner\3.11.1\tools\nunit.console.nuget.addins':
'add

[2020-03-17 13:59] elv1s42 commented on #77
Hi @zubr7 ,
Thank you for the issue and sorry for the late response.
The issue we are having here is that NUnit works a little bit different when running .NET Core tests, see the corresponding issue here: https://github.com/nunit/nunit-console/issues/487

So I had to create a new issue here: https://github.com/GHPReporter/Ghpr.NUnit/issues/57
The idea is that we need a new NuGet package which will

[2020-03-18 12:48] elv1s42 commented on #77
Hi @zubr7,

Now you should be able to use `Ghpr.NUnit` inside your .NET Core test projects.

The solution was to add a new `.addins` file which is detected by `NUnit3TestAdapter`.

So here is a short instruction on how to quickly set up a .NET Core `NUnit` test project with `Ghpr.NUnit` (I'm using VS19):

1. Create a new test project from template:
![image](https://user-images.githubusercontent.co

[2020-03-18 12:48] #77 closed, assigned to elv1s42

[2020-03-18 12:51] elv1s42 commented on #57
Not required as NUnit Test adapter can detect extensions automatically.
For more details see https://github.com/GHPReporter/Ghpr.NUnit/issues/77

[2020-03-18 12:51] #57 closed, assigned to elv1s42

[2020-03-19 20:07] ManuelVelazquez commented on #34
Hello, @elv1s42

I can not create the Ghpr report. Could anyone help me on this?

Please find the dll's versions I am using:

Nunit : 3.12
Newtonsoft.Json : 12.0.3.23909
NUnit Console : 3.11.1
Ghpr.NUnit : 0.9.10.0

This is how addins folder looks like:
![Capture](https://user-images.githubusercontent.com/25473907/77109055-e267bd00-69e8-11ea-9550-6cb6c40361d9.PNG)

This is how nunit.bundle.addins

[2020-03-20 16:59] elv1s42 commented on #34
Hi @ManuelVelazquez!

The first thing I'll suggest is to check the relative path inside your `nunit.bundle.addins` file.
You can use `--list-extensions` command to make sure `NUnit Console` sees the `Ghpr.NUnit` extension:
![image](https://user-images.githubusercontent.com/6689884/77187258-3bb51680-6ae5-11ea-9fa9-9f905fcb9b14.png)

Thank you

[2020-03-26 11:28] lagori commented on #61
Hi @elv1s42,

I am also having the same double screenshot issue. Following is my code:
  [TearDown]
        public void TakeScreenIfFailed()
        {
            var res = TestContext.CurrentContext.Result.Outcome;
            if (res.Equals(ResultState.Failure) || res.Equals(ResultState.Error))
            {
                ScreenHelper.SaveScreenshot(Utils.TakeScreenshot(driver));

[2020-03-26 11:30] lagori commented on #61
Also, When using TestContext as well it is having double image
 [Test]
        public void VerifyHomeLink()
        {
            Assert.IsTrue(driver.FindElement(By.LinkText("Home")).Displayed);
            TestContext.WriteLine("Test context line...");
            TestContext.AddTestAttachment(@"C:\Pros\temp\ss.png", "optional ss info...");

            Console.WriteLine("Verify Home Link Test M

[2020-03-26 11:31] lagori commented on #61
![image](https://user-images.githubusercontent.com/6595932/77642252-5ffc7180-6f83-11ea-9015-63451c78cc53.png)

[2020-03-27 15:29] elv1s42 commented on #61
Hi @lagori,
Thank you for the detailed example!

Can you please provide me some more information about the environment you are using?

Are you using NUnit console with `Ghpr.NUnit` package to run the tests or are you generating the report from NUnit `.xml` file using `Ghpr.Console` package?

[2020-03-27 16:22] elv1s42 commented on #61
@lagori,

Also, it will be really helpful if you provide the content of the corresponding `.json` file for the test where the screenshot is duplicated.

Here is the example of the file:
![image](https://user-images.githubusercontent.com/6689884/77777148-2d747680-7060-11ea-9f1b-d69529fd44fe.png)

Thank you

[2020-04-02 03:34] lagori commented on #61
Hi @elv1s42 ,
Sorry for a delayed response. Please find the details.
The execution is done by Nunit3-Console.
![image](https://user-images.githubusercontent.com/6595932/78207856-7729ea80-74c0-11ea-970e-6e9d18410b3b.png)

The way its installed is the Nunit3 Console  runner is downloaded and the path is added to Environment variables.
![image](https://user-images.githubusercontent.com/6595932/782076

[2020-04-07 11:06] elv1s42 commented on #61
Thank you @lagori!
I will try to prepare the release with the fix this week.

[2020-04-10 16:30] elv1s42 commented on #61
Hello @Steffx115 and @lagori!

This issue is now fixed in `v0.9.12`. Please be aware that it's required to update both `Ghpr.NUnit` and `Ghpr.Core` NuGet packages.

Thank you

[2020-12-16 22:49] RomanSN opened #91 "Blank report is generated with NUnit.ConsoleRunner.3.11.1"
Hi, I have a problem with report generation. I run my tests with ConsoleRunner (or Console - the same result) and after the tests finished, the folder with a report is generated but looks empty
![image](https://user-images.githubusercontent.com/31575833/102413673-96888980-3ff5-11eb-92c4-e49d2b334424.png)
![image](https://user-images.githubusercontent.com/31575833/102414076-3219fa00-3ff6-11eb-95e8-